
.photo {
    width: 100%;
    display: block;    
}

.pixel-art {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    border-right: 5px solid #000;
}

.pixeled {
    width: 100%;
}

.actions {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: 116px 91px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



._none {
    display: none;
}

._pad-0 {
    padding: 0;
}