header {
    background-color: #7C5E99;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
    
    display: flex;
    justify-content: space-between;
}

nav {
    text-align: right;
    display: inline-flex;
    align-items: center;
}

.button,
nav > a {
    font-size: 20px;
    font-weight: 500;
    font-family: "Fira Code";
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

nav > a::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
}

.button,
#button {
    background-color: #F25A70;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #000;
    transition: transform 100ms ease-in-out;
}

.button:hover,
#button:hover {
    transform: scale(1.1)
}

.button {
    margin: 0;
}

.button + .button {
    margin-left: 30px;
}

/* BANNER */
.banner { position: relative; }

.photo {
    width: 100%;
    display: block;    
}

.pixel-art {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    border-right: 5px solid #000;
}

.pixeled {
    width: 100%;
}

.actions {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin: 116px 91px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actions > .titles {
    background-color: #3A4042;
    padding: 40px;
    text-shadow: 4px 4px 0 #000;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 38px;
    box-shadow:  10px 10px 0 #000;
    width: 100%;
}

.actions h1 {
    font-size: 40px;
    color: #F25A70;
    margin-bottom: 28px;
}

.actions h2 {
    font-size: 30px;
    color: #FFFFFF;
}